<%# Comment style is a red dashed border %> 
<%# the img src is a pic of a cat, it could be any picture %>

<% if @name %>
<h1>My name is <%= @name %></h>
<% end %>
<div style='border: 3px dashed red'>
   <img src='http://bit.ly/1eze8aE'>
 </div>
